/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --themes-background: #ffffff;
  --themes-main-color: #000000;
  --button-text-color: #ffffff;
  --fill-contour: #000000;
  --fill-heart: #ff0000;
  --font-weight-title: 700;
  --font-weight: 400;
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P", sans-serif;
  --background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      rgb(244 152 173 / 0) 2px,
      rgb(244 152 173 / 0) 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3,
      #d3d3d3 2px,
      rgb(244 152 173 / 0) 2px,
      rgb(244 152 173 / 0) 4px
    ),
    repeating-linear-gradient(0deg, #1a1a1a, #e7e7e7 100%);
  --width-page: clamp(324px, 80%, 700px);
  --watermark-shadow: #ffffff;
}


